#formbuilder {
  h1 {
    grid-row: 1;
    grid-column: 1 / span 4;
  }

  figure#hero {
    grid-row: 1 / span 3;
    grid-column: 7 / -1;

    img {
      background-color: rgba(255, 255, 255, 0.1);
      object-position: left;
      object-fit: cover;
      background-size: cover;
      height: 945px;
    }
  }

  #meta {
    grid-column: 1 / auto;
    grid-row: 3;
  }

  #role {
    grid-column: 2 / span 4;
    grid-row: 3;
  }

  .lead {
    grid-row: 2;
    grid-column: 1 / span 6;
  }

  figure#process-topic-fig img,
  figure#process-config-fig img {
    border-radius: 0;
    border: none;
  }
}
