@import "reset.css";
@import "layout.css";
@import "typography.css";
@import "home.css";
@import "./cases/case.css";
@import "./cases/lighting.css";
@import "./cases/formbuilder.css";
@import "./cases/convertiq.css";

:root {
  --debug: oklch(63% 0.25 30 / 30%);
  --radius-m: clamp(0.25rem, 0.5vw + 0.15rem, 0.75rem);
  --radius-l: 0.75rem;
}

/* @view-transition {
  navigation: auto;
}
 */
