@font-face {
  font-family: 'Infini';
  src: url('../fonts/infini-regular.woff') format('woff');
  font-weight: normal;
}

@font-face {
  font-family: 'Infini';
  src: url('../fonts/infini-bold.woff') format('woff');
  font-weight: bold;
}

@font-face {
  font-family: 'Infini';
  src: url('../fonts/infini-italic.woff') format('woff');
  font-style: italic;
}

:root {
  --step--1: clamp(0.83rem, 0.8rem + 0.17vw, 1rem);
  --step-0: clamp(1rem, 0.95rem + 0.25vw, 1.25rem);
  --step-1: clamp(1.2rem, 1.13rem + 0.37vw, 1.56rem);
  --step-2: clamp(1.44rem, 1.34rem + 0.52vw, 1.95rem);
  --step-3: clamp(1.73rem, 1.58rem + 0.72vw, 2.44rem);
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizelegibility;
  font-family: 'Infini', Georgia, 'Times New Roman', Times, serif;
  font-size: var(--step-0);
}

h1 {
  font-size: var(--step-3);
  max-width: 50ch;
  line-height: 1.3;
}

body.case h1::first-letter {
  initial-letter: 2;
}

.case h2 {
  font-size: var(--step-2);
}

.case h3 {
  font-size: var(--step-1);
}

h1,
h2,
h3 {
  font-weight: normal;
  letter-spacing: -0.015em;
}

h2,
h3 {
  line-height: 1.2;
}

h4 {
  color: var(--text-color-3);
  margin-bottom: 0.5rem;
  /* font-feature-settings: "liga" 1, "dlig" 1; */
  /* text-transform: uppercase; */
  /* letter-spacing: 0.2em; */
  font-weight: normal;
}

p {
  max-width: 70ch;
}

mark {
  background-color: hsla(60, 100%, 50%, 0.3);
  color: var(--text-color-1);
  opacity: 0.9;
}

*::selection {
  /* TODO: Better inversion */
  background: var(--text-color-1);
  color: hsla(var(--bg-color), 0.9);
}

dt {
  color: var(--text-color-2);
  margin-top: 0.5rem;
}

figcaption {
  padding-top: calc(var(--spacer) / 2);
  font-size: 16px;
  color: var(--text-color-2) !important;
}

figcaption .author {
  float: right;
  margin-left: 1rem;
}

figcaption > * + * {
  margin-top: 0.5rem;
}

a.footnote {
  color: var(--text-color-2);
  text-decoration: none;
}

aside.footnote:before {
  content: var(--foot-note-label);
  content: 1;
  position: relative;
  float: left;
  /* TODO: margin-left: calc((var(--gridColumnGap) + var(--columnWidth)) * -1); */
  margin-left: -1.5rem;
  text-align: right;
  color: var(--text-color-2);
  font-weight: 300;
  font-style: normal;
  font-size: smaller;
  font-feature-settings: 'tnum';
}

small {
  display: block;
  color: var(--text-color-2);
}
