.fig--dal {
  position: relative;
  .dal__phone {
    width: 100%;
    top: 0;
    left: 0;
    transform: translateY(5%);
    display: none;
    @include media('>medium') {
      display: block;
      width: 60%;
    }
    .dal__phone__phone,
    #dal__phone__phone {
      position: relative;
      width: 100%;
      height: 100%;
      z-index: 100;
    }
    .dal__phone__stroke {
      width: 100%;
      position: absolute;
      top: 0;
      left: -3vmin;
    }
    .dal__phone__screen {
      z-index: 0;
      width: 88%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -52%);
    }
  }
  .dal__speaker {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    text-align: right;
    img {
      height: auto;
    }
    .dal__speaker__speaker {
      width: 50%;
      position: absolute;
      // TODO: combine and move size
      bottom: 10%;
      right: 30%;
      transform: translate(50%, 50%);
      z-index: 100;
      @include media('<medium') {
        width: 70%;
        bottom: 50%;
        right: 50%;
      }
    }
    .dal__speaker__sound {
      width: 60%;
      position: absolute;
      bottom: 10%;
      right: 30%;
      transform: translate(45%, -50%);
      @include media('<medium') {
        width: 75%;
        transform: translate(45%, -70%);
        bottom: 50%;
        right: 50%;
      }
    }
    .dal__speaker__shadow {
      width: 70%;
      position: absolute;
      bottom: 10%;
      right: 30%;
      transform: translate(50%, 80%);
      z-index: 0;
      @include media('<medium') {
        width: 80%;
        transform: translate(50%, 90%);
        bottom: 50%;
        right: 50%;
      }
    }
  }
}
