body {
  margin: 0;
}

.container {
  background-color: var(--bg-color);
  min-height: 100vh;
  transition: background-color 0.6s ease;
  &.case {
    // background-color: #e5e5e5;
    --bg-color: black;
    // --bg-color: rgba(203, 165, 152, 1);
  }
}

.home {
  figure {
    margin: 0;
  }
  img {
    object-fit: contain;
    width: 100%;
    height: 100%;
    display: block;
  }
}

header {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-auto-rows: auto;
  gap: var(--spacer);
  .title {
    grid-column: 1 / span 3;
    grid-row: 1;
    padding: var(--spacer) calc(var(--spacer) * 2);
  }
  .subtitle {
    grid-column: 4 / span 3;
    grid-row: 1;
    padding: var(--spacer);
  }
}

.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-auto-rows: minmax(var(--spacer), auto);
  gap: var(--spacer);
  &.home {
    grid-template-areas:
      'def     def     def      def     def     def     .       .       .       .       .       .'
      '.       .       .        .       .       .       .       .       .       .       .       .'
      'recent  recent  recent   .       .       .       c-img   c-img   c-img   c-img   c-img   .'
      '.       a-img   a-img    a-img   .       .       c-img   c-img   c-img   c-img   c-img   .'
      '.       a-img   a-img    a-img   .       .       c-t     c-t     c-t     c-t     .       .'
      '.       a-t     a-t      a-t     .       .       .       .       .       .       .       .'
      '.       .       .        .       .       .       .       .       .       .       .       .'
      '.       .       .        .       j-t     j-t     j-t     j-t     .       .       .       .'
      'j-img   j-img   j-img    j-img   j-img   j-img   j-img   j-img   j-img   j-img   j-img   j-img';
    // grid-template-columns:
    //   [header definition-start jukebox-img-start]
    //   1fr
    //   [aux-img-start aux-t-start]
    //   1fr
    //   1fr
    //   [jukebox-t-start]
    //   1fr
    //   [aux-img-end aux-t-end]
    //   1fr
    //   1fr
    //   [definition-end illustration-start convertiq-img-start convertiq-t-start]
    //   1fr
    //   1fr
    //   1fr
    //   [jukebox-t-end]
    //   1fr
    //   [convertiq-t-end]
    //   1fr
    //   [convertiq-img-end convertiq-t-end]
    //   1fr
    //   [illustration-end jukebox-img-end];
    // grid-template-rows:
    //   [header]
    //   auto
    //   [definition]
    //   auto
    //   [aux-img-start]
    //   calc(var(--spacer) * 4)
    //   [convertiq-img]
    //   auto
    //   [convertiq-t]
    //   auto
    //   [aux-img-end aux-t]
    //   auto
    //   var(--spacer)
    //   [jukebox-t]
    //   auto
    //   [jukebox-img];
  }
}

.definition {
  grid-area: def;
  // grid-column: 1 / 7;
  // grid-row: definition;
  padding: var(--spacer) calc(var(--spacer) * 2) !important;
}

.recent {
  grid-area: recent;
  object-position: top;
  padding: 0 calc(var(--spacer) * 2);
  min-height: 2rem;
  margin-bottom: calc(var(--spacer) * 3);
}

.fig {
  position: relative;
  .inprogress {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 6rem;
    transform: translate(40%, 4rem);
  }
  &--me {
    grid-column: span 5;
    grid-area: img-main // grid-row: definition;
      img {
      max-height: 40vh;
    }
  }

  &--jukebox {
    grid-column: span 12;
    grid-row: j-img;
  }

  &--convertiq {
    grid-area: c-img;
    // grid-column: convertiq-img;
    // grid-row: convertiq-img;
    img {
      object-position: right;
      object-fit: cover;
    }
  }

  &--aux {
    // background-color: #f5f5f5;
    background-color: #eeeeee;
    grid-area: a-img;
    // grid-column: aux-img;
    // grid-row: aux-img;
    align-self: end;
    img {
      transform: scale(1.2);
    }
  }
}

.project-description {
  &--aux {
    grid-area: a-t;
    // grid-column: aux-t;
    // grid-row: aux-t;
    z-index: 1;
  }

  &--convertiq {
    grid-area: c-t;
    // grid-column: convertiq-t;
    // grid-row: convertiq-t;
    text-align: right;
  }

  &--jukebox {
    grid-area: j-t;
    // grid-column: jukebox-t;
    // grid-row: jukebox-t;
    text-align: center;
  }
}

// CASES
.case {
  .convertiq {
    grid-template-columns: repeat(12, 1fr);
    grid-template-areas:
      '.      .       .       title   title   title   .       .       .       .       skills  skills'
      '.      .       .       desc    desc    desc    desc    desc    .       .       .       .'
      'img-1  img-1   img-1   img-1   img-1   img-1   img-1   img-1   img-1   img-1   img-1   img-1'
      '.      .       .       .       .       .       .       .       .       .       .       .'
      '.      .       .       .       .       .       .       img-10  img-10  img-10  img-10  .'
      '.      .       .       .       .       .       .       .       .       .       .       .'
      '.      img-2   img-2   img-2   img-2   img-2   img-2   img-2   img-2   img-2   img-2   .'
      '.      .       .       .       .       .       .       .       .       .       .       .'
      'img-3  img-3   img-3   img-3   img-3   img-3   img-3   img-3   img-3   img-3   img-3   img-3'
      '.      .       .       .       .       .       .       .       .       .       .       .'
      '.      .       img-4   img-4   img-4   img-4   img-6   img-6   img-7   img-7   .       .'
      '.      .       img-4   img-4   img-4   img-4   img-5   img-5   img-5   img-5   .       .'
      '.      .       img-8   img-8   img-9   img-9   img-5   img-5   img-5   img-5   .       .';
    &-title {
      grid-area: title;
    }
    &-description {
      grid-area: desc;
    }
    &-skills {
      grid-area: skills;
    }
    &-img--1 {
      grid-area: img-1;
    }
    &-img--2 {
      grid-area: img-2;
    }
    &-img--3 {
      grid-area: img-3;
    }
    &-img--4 {
      grid-area: img-4;
    }
    &-img--5 {
      grid-area: img-5;
    }
    &-img--6 {
      grid-area: img-6;
    }
    &-img--7 {
      grid-area: img-7;
    }
    &-img--8 {
      grid-area: img-8;
    }
    &-img--9 {
      grid-area: img-9;
    }
    &-img--10 {
      grid-area: img-10;
    }
    img,
    video {
      max-width: 100%;
    }
    &-title,
    &-description,
    &-skills {
      padding: var(--spacer);
    }
  }
}
