@font-face {
  font-family: 'Infini';
  src: url('/fonts/infini-regular.woff') format('woff');
  font-weight: normal;
}

@font-face {
  font-family: 'Infini';
  src: url('/fonts/infini-bold.woff') format('woff');
  font-weight: bold;
}

@font-face {
  font-family: 'Infini';
  src: url('/fonts/infini-italic.woff') format('woff');
  font-style: italic;
}

@font-face {
  font-family: 'Infini Picto';
  src: url('/fonts/infini-picto.woff') format('woff');
}

$breakpoints: (
  small: 320px,
  medium: 768px,
  large: 1024px,
  xlarge: 1440px
);

@import '_include-media';
// @import '_fluid-type';
@import '_utility';
@import '_reset';
@import 'layout';
@import 'type';
@import 'dal';

// TODO: Reset?
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

$black: #000000;
$color-link: #2d7ffa;

:root {
  --spacer: 24px;
  --text-s: 16px;
  --text-m: 18px;
  --text-l: 22px;
  --text-xl: 32px;
  --line-height: 24px;
  --line-height-l: 28px;
  --bg-color: white;
}

a {
  transition: opacity 0.3s ease;
  text-decoration: none;
  color: $color-link;
  &:hover {
    opacity: 0.5;
  }
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
  transition-delay: 100ms;
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
  transition-delay: 100ms;
}

.delayed-fade-enter-active,
.delayed-fade-leave-active {
  transition: opacity 0s;
}
// .delayed-fade-enter-active {
//   transition-delay: 100ms;
// }
.delayed-fade-enter,
.delayed-fade-leave-to {
  opacity: 0;
}
