// @import '../../node_modules/normalize.css/normalize.css';
@import '_include-media';
@import '_fluid-type';
@import '_utility';
@import '_reset';
@import 'layout';
@import 'type';

// TODO: Reset?
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

$breakpoints: (
  small: 320px,
  medium: 768px,
  large: 1024px
);

$black: #000000;
$color-link: #2d7ffa;

:root {
  --spacer: 24px;
  --text-s: 16px;
  --text-m: 18px;
  --text-l: 22px;
  --text-xl: 32px;
  --line-height: 24px;
  --line-height-l: 28px;
}

a {
  transition: opacity 0.3s ease;
  text-decoration: none;
  color: $color-link;
  &:hover {
    opacity: 0.5;
  }
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
}
