h1,
h2,
h3,
h4 {
  font-weight: 500;
  margin: 0;
  & > a {
    color: inherit;
  }
}

strong {
  font-weight: 500;
}

body {
  font-size: var(--text-m);
  line-height: var(--line-height);
  font-family: 'Infini', sans-serif;
  color: rgba(black, 0.9);
}

.text {
  &--secondary {
    color: rgba(black, 0.6);
  }
  &--muted {
    color: rgba(black, 0.3);
  }
}

.definition {
  font-size: var(--text-l);
  line-height: var(--line-height-l);
}
