:root {
  --text-color: 0, 0, 0;
}

body {
  font-size: 18px;
  line-height: 24px;
  font-family: 'Infini', sans-serif;
  color: var(--text-color);
}

.container {
  color: rgba(var(--text-color), 0.9);
  &.case {
    --text-color: 255, 255, 255;
  }
}

.text {
  &--secondary {
    color: rgba(var(--text-color), 0.6) !important;
  }
  &--muted {
    color: rgba(var(--text-color), 0.3) !important;
  }
}

h1 {
  font-size: 36px;
  line-height: 36px;
  font-weight: bold;
  &.definition {
    font-size: 24px;
    line-height: 32px;
    font-weight: normal;
  }
}

h2 {
  font-size: 24px;
  line-height: 32px;
  font-weight: normal;
}

header {
  .title a {
    color: inherit;
  }
}
