:root {
  --text-color: 0, 0, 0;
}

body {
  font-size: 18px;
  line-height: 24px;
  font-family: 'Infini', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  color: rgba(var(--text-color), 0.9);
  &.case {
    --text-color: 255, 255, 255;
  }
}

.text {
  &--secondary {
    color: rgba(var(--text-color), 0.6) !important;
  }
  &--muted {
    color: rgba(var(--text-color), 0.3) !important;
  }
}

h1 {
  font-size: 36px;
  line-height: 36px;
  font-weight: bold;
  &.definition {
    font-size: 24px;
    line-height: 32px;
    font-weight: normal;
  }
  @include media('<medium') {
    text-align: center;
  }
}

h2 {
  font-size: 24px;
  line-height: 32px;
  font-weight: normal;
}

h3 {
  font-size: 18px;
  line-height: 24px;
  font-weight: normal;
  margin-bottom: 0.5rem;
}

// h1::first-letter,
// h2::first-letter,
// h3::first-letter {
//   font-family: 'Infini Picto';
//   display: inline-block;
//   transform: scale(-1, 1);
// }

header {
  .title a {
    color: inherit;
  }
}

figcaption {
  padding: calc(var(--spacer) / 2);
  font-size: 14px;
  color: rgba(var(--text-color), 0.6) !important;
}
